{% extends 'base.html' %}


{% block title %}English Lernkarte{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">English Lernkarten</h1>
  <p class="description">Vocab Test 1</p>
  <div class="card" >
    <div class="front .bg-light">
        <p class=".fs-2 text-break">{{data["front_vocab"] }}</p>
    </div>
    <div class="back">
      <div>
        <div class="title">{{data["back_vocabs"]["one"]["name"]}}</div>
          <p class="review">"{{data["back_vocabs"]["one"]["value"]}}"</p>
        <div class="title">{{data["back_vocabs"]["two"]["name"]}}</div>
          <p class="review">"{{data["back_vocabs"]["two"]["value"]}}"</p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center add">
<!-- <a href="url_for('add_movie')" class="button">Add Movie</a> --!>
<button onclick="location.href='{{ url_for('previous') }}'" type="button" class="btn btn-light">Previous</button>
<button onclick="location.href='{{ url_for('next_') }}'" type="button" class="btn btn-dark">Next</button>
</div>

<form method="POST" action="/submit">
<div class="container-sm" style="max-width: 250px">
  <select class="form-select container" name="vocab_page" aria-label="Default select example">
  <option selected>Select Vocab Page</option>
  <option value="1">Page 1</option>
  <option value="2">Page 2</option>
  <option value="3">Page 3</option>
    <option value="4">Page 4</option>
  </select>
  <select class="form-select container" name="language" aria-label="Default select example">
  <option selected>Deutsch - Englisch</option>
  <option value="0">Englisch -> Deutsch</option>
  <option value="1">Deutsch -> Englisch</option>
    <option value="2">Random</option>
  </select>
  <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-dark" type="submit">Change</button>
  </div>
</form>
</div>

{% endblock %}